<li class="app-notification__title">新产生告警 {{ .alarm.count}}</li>
<div class="app-notification__content">
    {{ range .alarm.list}}

        <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span
                            class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i
                                class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                <div>
                    <p class="app-notification__message">{{.Reason}}</p>
                    <p class="app-notification__meta">{{ dateformat .CreatedTime "2006-01-02 15:04:05"}}</p>
                </div>
            </a></li>
    {{end}}

</div>

<li class="app-notification__footer"><a href="{{ urlfor `AlarmPageController.Index`}}">查看所有数据</a></li>